/* RESET ELEMENTS */

html,
body {
  height: 100%;
  width: 100vw;
  padding:0;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
  background-color: #23241f;
  padding: 10px;
  color: white !important;
}
header {
  background-color: dimgray;
  color: white;
  width: 100%;
  align-items: center;
  text-align: center;
  height: 100px;
}
main {
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: stretch;
  height: 100vh;
  width: 100vw;
}
.button {
  display: inline-block;
  font-size: 15px;
  font-family: Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #6c757d;
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  line-height: 1;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
  margin: 3px;
  padding: 8px 8px;
  font-weight: bold;
  cursor: pointer;
}

/* For webkit browsers like Chrome and Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* For Firefox */
scrollbar-width: thin;
scrollbar-color: #888 #f1f1f1;


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.error > *, .error {
  color: red;
  animation: shake 1s;
  animation-iteration-count: 2;
}