:root {
  --background-color: #2f323b;
  --primary-color: #4a4a4a;
  --secondary-color: #6b7287;
  --tertiary-color: #a7b2d3;
  --transition-speed: 5s;
  --hue-increment: 60;
}
#menu-container {
  display: flex;
  justify-content: flex-start;
  width: max-content;
  position: absolute;
  bottom: 80px;
  right: 21px;
  z-index: 9999;
  max-width: 50%;
  max-height: 80%;
  min-height: 400px;
  height: max-content;
  display: none;
  box-shadow: 0 -10px 10px 10px rgba(0, 0, 0, 0.75);
  padding: 10px;
  background-color: var(--primary-color);
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}


#shortcutTestButton {
  box-Shadow: 0px 0px 8px 4px hsl(calc(1 * var(--hue-increment)), 100%, 50%);
}
#shortcutTestButton:hover {
  background-color: hsl(calc(1 * var(--hue-increment)), 100%, 50%);
  color: black;

}

#shortcutHistoryToggle {
  box-Shadow: 0px 0px 8px 4px hsl(calc(2 * var(--hue-increment)), 100%, 50%);
}
#shortcutHistoryToggle:hover {
  background-color: hsl(calc(2 * var(--hue-increment)), 100%, 50%);
  color: black;

}

#shortcutMemoryButton {
  box-Shadow: 0px 0px 8px 4px hsl(calc(3 * var(--hue-increment)), 100%, 50%);
}
#shortcutMemoryButton:hover {
  background-color: hsl(calc(3 * var(--hue-increment)), 100%, 50%);
  color: black;
}

#shortcutResetToDefaults {
  box-Shadow: 0px 0px 8px 4px hsl(calc(4 * var(--hue-increment)), 100%, 50%);
}
#shortcutResetToDefaults:hover {
  background-color: hsl(calc(4 * var(--hue-increment)), 100%, 50%);
  color: black;

}

#shortcutCloseToolButton {
  box-Shadow: 0px 0px 8px 4px hsl(calc(5 * var(--hue-increment)), 100%, 50%);
}
#shortcutCloseToolButton:hover {
  background-color: hsl(calc(5 * var(--hue-increment)), 100%, 50%);
  color: black;

}

#shortcutClipboardButton {
  box-Shadow: 0px 0px 8px 4px hsl(calc(6 * var(--hue-increment)), 100%, 50%);
}
#shortcutClipboardButton:hover {
  background-color: hsl(calc(6 * var(--hue-increment)), 100%, 50%);
  color: black;

}

.menuContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: hidden;
    width: 100%;
    height: max-content;
    gap: 5px;
    padding: 10px;
} 

#popoutMenuHotBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
  gap: 10px;
  border-radius: 5px 5px 0 0;

}

.popoutMenuHotBarItem {
  min-width: 50px;
}

#tools,
#popoutMenuItems,
#popoutMenuItemButtons,
#guides {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  gap: 5px;
}

#popoutMenuItems {
  overflow-y: auto;
}

.popoutMenuItem {
  background-color: var(--secondary-color);
  color: white;
  transition: background-color .3s ease;
  border-radius: 5px;
}
.popoutMenuItem:hover {
  background-color: var(--tertiary-color);
}
@media only screen and (max-width: 767px) {
  #menu-container {
    position: absolute;
    height: calc(100% - 80px);
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    right: 0;
  }