/****************************
WRAPPERS
*****************************/

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  overflow: auto; /* Add horizontal scrolling if needed */
  background-color: #23241f;
  padding: 10px;
  color: white !important;
}

#main-wrapper {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 10px;
  font-family: Tahoma, Verdana, sans-serif;
  height: 100vh;
  box-sizing: border-box;

}

.memoryMenu {
  align-items: center;
  text-align: center;
}

#tool-wrapper,
#memory-wrapper {
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  overflow-y: auto;
}

#memory-wrapper {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  height: 100%;
}

#tool-wrapper {
  align-items: center;
  overflow: auto;
  background-color: lightcoral;
}

.popout-menu {
  text-align: left;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.popout-menu a, .popout-menu div, .popout-menu .menu-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer; /* Changes cursor to hand (pointer) */
}

.popout-menu a:hover, .popout-menu div:hover, .popout-menu .menu-item:hover {
  color: black;
  background-color: #ddd;
  text-decoration: underline; /* Underlines text when hovered */
}


.popout-menu ul {
  list-style: none;
  padding-left: 0;
}

.submenu-list {
  list-style: none;
  padding-left: 20px;
}

.submenu {
  padding-left: 20px !important;
}


/****************************
TOOL CONTAINER
*****************************/

#tool {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: stretch;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  height: 100%;
  width: 100%;
  background-color: white;
  overflow: hidden;
}

/****************************
TOOL BAR
*****************************/

#toolbarContainer {
  width: 100%;
}

#tool-bar {
  display: flex;
  flex-direction: row;
  background-color: dimgrey;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  gap: 10px;
  box-shadow: 0px 0px 5px black;
  overflow-x: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hamburger-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hamburger-bar {
  width: 25px;
  height: 3px;
  background-color: #000; /* Adjust color as needed */
  margin: 3px 0;
}



/****************************
OUTPUT CONTAINER
*****************************/

#tool-output {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: auto;
  color: white;
  border-radius: 3px;
  flex-grow: 1;
  width: 100%;
  margin-bottom: 10px;
  background-color: grey;
  position: relative;
  z-index: 1;
  border-radius: 3px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5); /* New property: Add a drop-shadow */
}

#tool-overflow-gradient-top {
  top: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 80%
  );
}

#tool-output-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  padding-bottom: 10px;
  z-index: 2;
  position: relative;
}

#tool-overflow-gradient-bottom {
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 80%
  );
}

/****************************
OUTPUT MESSAGES
*****************************/

.user-message,
.ai-message {
  text-align: left;
  padding: 10px;
  border-radius: 3px;
  font-size: 14px;
  margin: 5px 10px;
  max-width: 60%; /* Limit the width of messages */
  width: max-content;
  height: max-content;

}

.user-message {
  background-color: cornflowerblue;
  color: white;
  align-self: flex-end; /* Align to the right */
}

.ai-message {
  background-color: lightgrey;
  color: black;
  align-self: flex-start; /* Align to the left */
}

/****************************
INPUT CONTAINER
*****************************/

#tool-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  border-radius: 5px;
  background-color: dimgray;
  padding: 7px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5); /* New property: Add a drop-shadow */
  height: max-content;
}

#user-input {
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  max-height: 300px;
  overflow: auto;
  resize: none;
  outline: none;
}

.button {
  display: inline-block;
  font-size: 20px;
  padding: 10px 10px; /* adjust these values as needed */
  font-family: Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  line-height: 1; /* adjust this value as needed */
  vertical-align: middle; /* this helps with vertical centering */
  height: 100%;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);


}

#submit-button {
  border-radius: 0px;
  box-shadow: none;
}

#cancel-button {
  border-radius: 0px 5px 5px 0px;
  box-shadow: none;
}

.button:hover {
  background-color: #0056b3;
}

.button:focus {
  outline: none;
}

/****************************
MEMORIES
*****************************/

#memories::-webkit-scrollbar-thumb,
.memory::-webkit-scrollbar-thumb {
  background: transparent; /* Makes scrollbar handle invisible initially */
}

/* Handle on hover */
#memories:hover::-webkit-scrollbar-thumb,
.memory:hover::-webkit-scrollbar-thumb {
  background: #888; /* Color when hovered */
}

#memories:hover::-webkit-scrollbar-thumb:hover,
.memory:hover::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when handle itself is hovered */
}

.titleDescription {
  color: red;
}

#memories {
  flex-grow: 1;
  padding: 5px;
  overflow-y: auto;
}

.memory-toolbar {
  background-color: lightsteelblue;
  box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.1);
}

.memory-toolbar-button {
  font-size: 12px;
  margin-left: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.memory-important-button {
  color: gray;
}

.memory-delete-button {
  color: black;
}

.memoryTitle {
  height: 100%;
  width: 100%;
  color:red;
}

.memory {
  text-align: left;
  padding: 0px 0px 0px 0px;
  border-radius: 3px;
  background-color: white;
  min-height: 100px;
  max-height: 400px;
  height: max-content;
  overflow-y: auto;
  position: relative; /* Add positioning */
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
  z-index: 5;
  margin-bottom: 15px;
}

.memory-text {
  font-family: sans-serif;
  padding: 10px;
}

/****************************
MEDIA ADJUSTMENTS
*****************************/

.loading-circle {
  display: inline-block;
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  #main-wrapper {
    flex-direction: column;
  }

  #tool-wrapper,
  #memory-wrapper,
  #tool-output,
  #tool-bar,
  #tool-input {
    width: 100%;
  }

  #tool-output,
  #tool-wrapper {
    height: 100%;
  }

  #memory-wrapper {
    display: none;
  }

  #tool-output {
    width: 100%;
  }

}
