:root {
  --background-color: #2f323b;
  --primary-color: #4a4a4a;
  --secondary-color: #6b7287;
  --tertiary-color: #a7b2d3;
  --transition-speed: 0.3s;
}

#main-wrapper {
  font-family: Tahoma, Verdana, sans-serif;
  height: 100%;
  width: 100%;
  min-width: 400;
}
#tool-wrapper {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--background-color);
}
#tool {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#tool-output {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
#tool-input {
	display: flex;
	gap: 7px;
  width: 100%;
	min-height: 80px;
  max-height: 50%;
  height: max-content;
  border-top: 3px solid #007bff;
  padding: 10px;

}


/* #htmlToolsWrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 20px;
    font-family: "Roboto", sans-serif;
}
#htmlToolsWrapper:hover {
    cursor: pointer;
}
.menuItemToolContainer {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: all var(--transition-speed);
}
.menuItemToolContainer:hover {
    background-color: var(--secondary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.menuItemToolIcon {
    flex: 0 0 36px;
    margin-right: 10px;
    font-size: 24px;
}
.menuItemToolTitle {
    flex-grow: 1;
    font-size: 1.5rem
} */
