
:root {
    --primary-color: #4a4a4a; 
    --hover-color: #007bff; 
    --transition-speed: 0.3s;
    --background-color: #2f323b;
    --font-family: "Roboto", sans-serif; 
    --text-icon-color: #ffffff; 
}
#main-wrapper {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: Tahoma, Verdana, sans-serif;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
}
#tool-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 25px;
    align-items: center;
    overflow: auto;
    background-color: #2f323b;
}
#tool {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex-grow: stretch;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #2f323b;
    overflow: hidden;
    position: relative;
}
#htmlToolsWrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 20px;
    font-family: "Roboto", sans-serif;
}
#htmlToolsWrapper:hover {
    cursor: pointer;
}
.menuItemToolContainer {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: all var(--transition-speed);
}
.menuItemToolContainer:hover {
    background-color: var(--hover-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.menuItemToolIcon {
    flex: 0 0 36px; /* updated size */
    margin-right: 10px;
    font-size: 24px; /* new addition if using font-icons */
}
.menuItemToolTitle {
    flex-grow: 1;
    font-size: 1.5rem; /* updated size */
}
