#user-input {
  border: 0;
  width: 100%;
  resize:none;
  height: max-content;
  outline: none;
  line-height: max-content;
  background-color: transparent;
  color: white;
  font-size: 15px;
  overflow-y: auto;

}

#submit-button {
  box-shadow: none;
}
#menuButton {
}
#cancel-button {
  box-shadow: none;
}

#submit-button, #menuButton {
  min-width: 50px;
  min-height: 50px;
}

.button:hover {
  background-color: #0056b3;
}
.button:focus {
  outline: none;
}
