/* MEMORIES */
:root {
  --primary-color: #2f323b; 
  --hover-color: #007bff; 
  --transition-speed: 0.3s;
  --background-color: #2f323b;
  --font-family: "Roboto", sans-serif; 
  --text-icon-color: #ffffff; 
}
#memoriesContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  overflow-y: auto;
  padding: 20px;
  gap: 30px;
}

#memoriesContainer.appear {
  opacity: 1;
  transform: translateY(0); /* Reset the transform */
}

.memory-container {
  background-color: white !important;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 7px 10px #fff;

}

.memory-toolbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.memory-title-container {
  display: flex;
  align-items: center;
}
.memory-title-icon {
  width: 24px;
  height: 24px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 8px;
}
#memoryTitleText {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.memory-content-container {
  margin-bottom: 8px;
}
.memory-content {
  font-size: 16px;
  color: #555;
}
.memory-footer {
  font-size: 12px;
  color: #888;
}

/* Additional Styles */

.memory-delete-button {
  background-color: #dc3545;
  margin-left: 8px;
}
.memory-importance-button {
  background-color: #ffc107;
  margin-left: 8px;
}
#memories::-webkit-scrollbar-thumb,
.memory::-webkit-scrollbar-thumb {
  background: transparent;
}

@media only screen and (max-width: 767px) {
  .memory-container {
    height: max-content;
  }
}
