#tool-output-inner {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  padding-bottom: 10px;
  overflow-y: auto;
  word-wrap: break-word;
  position: sticky;
  align-items: center;
  gap: 10px;
}
